---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Text from '../components/ui/Text.tsx';
import Spacer from '../components/ui/Spacer.tsx';

import db from '../db.json';

const { foods, categories } = db;

---

<Layout title="Welcome to Astro.">
	<main>
		<div class="rounded-2xl relative  overflow-hidden max-h-[150px] sm:max-h-[100px]">
			<div class="absolute top-0 left-0 w-full h-full bg-slate-800 bg-opacity-70"></div>
			<img class="w-full h-full object-cover" src="/food.jpg" />
			<div class="absolute flex  left-0 top-0 w-full h-full p-6 justify-between sm:items-center">
				<div class="pr-2">
					<Text size='xl' color='custom' className='text-white font-semibold'>Bell Fresh</Text>
					<Text size='sm' color='custom' className='text-gray-300'>Fresh & healthy food recipe</Text>
				</div>
				<div class="flex flex-col sm:flex-row gap-1 sm:gap-4">
					<div class="flex flex-col justify-center items-center">
						<Text color='warning' className='text-2xl font-bold' size='custom'>{foods.length}</Text>
						<Text color='custom' className='text-gray-300 font-bold' size='xs'>Total de comidas</Text>
					</div>
					<div class="hidden sm:block w-[1px] h-auto bg-gray-500 rounded-full"></div>
					<div class="flex flex-col justify-center items-center">
						<Text color='warning' className='text-2xl font-bold' size='custom'>{categories.length}</Text>
						<Text color='custom' className='text-gray-300 font-bold' size='xs'>Categorías</Text>
					</div>					
				</div>
			</div>
		</div>
		<Spacer y={6}/>
		<div class="w-full">
			<ul class="flex gap-4 overflow-x-scroll">
				<li class="w-full min-w-[120px] flex items-center justify-center flex-col gap-4 bg-primary bg-opacity-10 border-[1px] border-warning rounded-3xl p-3">
					<img src='/allfoods.png' class="aspect-square w-14 shadow-2xl rounded-full object-cover" />
					<a href={`/productos`} class="w-full">
					<Text as='span' size='xs' className='font-semibold block text-center w-full' >Todos</Text>
					</a>
				</li>
				{
					categories.map(e => (
						<li class="w-full min-w-[120px] flex items-center justify-center flex-col gap-4 bg-primary bg-opacity-10 border-[1px] border-warning rounded-3xl p-3">
						<img src={e.image} class="aspect-square w-14 shadow-2xl rounded-full object-cover" />
						<a href={`/categorias/${e.slug}`} class="w-full">
						<Text as='span' size='xs' className='font-semibold block text-center w-full' >{e.name}</Text>
						</a>
						</li>
					))
				}
			</ul>
		</div>
		<Spacer y={6}/>

		<div class="form-4-cols">
			{
				foods.map(p => (
					<Card data={{href: `/comidas/${p.id}`, ...p}}/>
				))
			}
		</div>
	</main>
</Layout>

