---
interface Props {
	data: {
		href?:string,
		title:string,
		body:string,
		price:string,
		source:string,
	}
}

import Text from '../components/ui/Text.tsx';
import Container from './ui/Container.astro';

const { data:{href, title, body, price, source} } = Astro.props;
---

<div class="rounded bg-grey shadow-xl p-2 w-60">
	<a href={href}>
		<img src={source} class="object-contain w-full h-32">
		<Text as='h1' color='primary' size='md'>
			{title}
		</Text>
		<Text as="p" color='contrast'size='sm'>
			{body}
		</Text>
		<Text as='p' color='warning' size='xs'>
			{price}
		</Text>
	</a>
</div>
