---
interface Props {
	data: {
		id: number,
		href?:string,
		title:string,
		ingredients:string[],
		cost:number,
		image:string,
		stars: number,
		persons: number,
		best_seller: boolean,
		calories: number
	}
}

import Text from '../components/ui/Text.tsx';
import AddCartButton from './ui/AddCartButton';
import Spacer from './ui/Spacer.tsx';

const { data:{href, id, title, ingredients, cost, image, stars, persons, calories, best_seller} } = Astro.props;
---
<div class="relative pt-[4rem] grid place-items-center ">
	<img src={image} class="rounded-full w-[80%] aspect-square max-w-[120px] object-cover shadow-[rgba(0,_0,_0,_0.2)_0px_20px_30px_-7px] absolute top-0 mx-auto border-[1px] border-gray-100 ">
	<div class="group hover:bg-primary transition-colors w-full pt-16 rounded-2xl bg-whitebg shadow-[0_8px_30px_rgb(0,0,0,0.12)] flex flex-col justify-between items-center p-6  h-72 content-stretch ">		
	
		<a href={href} class="mt-4">
			<Text as='h2' type='base' color='primary' size='md' className='group-hover:text-white font-semibold hover:underline text-center transition-all cursor-pointer'>
				{title}
			</Text>
		</a>
		<Spacer y={4}/>
		<div class="flex w-full gap-2 justify-between items-center border-t-[1px] border-b-[1px] border-primary py-4">
			<Text size='xs' color='contrast' className='group-hover:text-white'>{`${calories} calorias`}</Text>
			<span class="h-1 w-1 rounded-full  bg-yellow-400"/>
			<Text size='xs' color='contrast' className='group-hover:text-white'>{`${persons} personas`}</Text>
		</div>
		<Spacer y={4}/>
		<div class="flex justify-between items-center w-full">
			<Text as='p' color='primary' size='lg' className='font-bold group-hover:text-white'>
				{`S/.${cost}`}
			</Text>
			<AddCartButton client:load data={{title, cost, image, id: Number(id), ingredients, href}}/>
		</div>
	</div>
</div>
